<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <dataConfiguration defaultDatabase="ConnectionString" />

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="MinutosDuracionCookie" value="30"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="workstation id=JOERPDEV.mssql.somee.com;packet size=4096;user id=joedayz;pwd=1234joedayz;data source=JOERPDEV.mssql.somee.com;persist security info=False;initial catalog=JOERPDEV"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>

    <httpRuntime maxRequestLength="5242880" executionTimeout="120" />
    <globalization uiCulture="es" culture="es-PE" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <sessionState mode="InProc" customProvider="DefaultSessionProvider"/>

    <authentication mode="Forms">
      <forms loginUrl="~/Sesion/Login" />
    </authentication>
    
    <customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="/Demo" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=8" />
      </customHeaders>
    </httpProtocol>

    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Logistica@wvi.org">
        <network defaultCredentials="false" host="192.168.30.7" password="982522" port="25" userName="jbeltranr@of-nacional" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
